@font-face {
 font-family:'Rouble';
 src:url('../fonts/rouble.eot');
 src:local('ALS Ruble'),
 url('../fonts/rouble.woff') format('woff'),
 url('../fonts/rouble.svg') format('svg'),
 url('../fonts/rouble.otf') format('opentype');
}

@font-face {
 font-family:'GTARussian';
 src:url('../fonts/gta_russian_regular.eot');
 src:local('GTA Russian'),
 url('../fonts/gta_russian_regular.woff') format('woff'),
 url('../fonts/gta_russian_regular.svg') format('svg'),
 url('../fonts/gta_russian_regular.otf') format('opentype');
}
* {outline:none;background-repeat:no-repeat;}
body {font-family:'Open Sans',sans-serif;-webkit-font-smoothing:subpixel-antialiased !important;-webkit-backface-visibility:hidden;}
a {text-decoration:underline;}
a:hover {text-decoration:none;}
.wrap {width:940px;padding:30px 10px 0;margin:0 auto;position:relative;}
.clear {clear:both;float:none;}
.btn,button {font-family:'Open Sans',sans-serif;color:#fff !important;cursor:pointer;border-radius:5px;background-color:#db3076;text-decoration:none;font-weight:600;line-height:50px;height:50px;text-align:center;display:inline-block;padding:0 40px;border:none;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;-webkit-transition:background-color 0.2s ease;-moz-transition:background-color 0.2s ease;-o-transition:background-color 0.2s ease; transition:background-color 0.2s ease;}
.btn:hover,button:hover {background-color:#e7669b;}
.btn:active,button:active {background-color:#9c2355;}
.btn.blue-btn,button.blue-btn {background-color:#4b89ac;}
.btn.blue-btn:hover,button.blue-btn:hover {background-color:#5ba3cb;}
.btn.blue-btn:active,button.blue-btn:active {background-color:#3c6e8a;}
.blue {color:#02b5d6;font-weight:600;}
.pink {color:#db3076;font-weight:600;}
.hr {height:1px;width:100%;display:block;}
.rub {font-family:'Rouble';}
.upper {text-transform:uppercase;}
h1 {color:#fff;font-family:'Russo One',sans-serif;font-size:40px;text-shadow:3px 3px 0px rgba(0,0,0,0.1);text-transform:uppercase;line-height:48px;}
h1.purple {color:#6f72b3;}
.col {float:left;width:300px;margin-right:20px;background-position:top center;color:#333;}
.col:last-child {margin-right:0;}
.col.colspan-2 {width:620px;}
section {min-width:960px;background-position:top center;position:relative;-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
.logo {background-color:#000;padding:85px 0 0 0;background-image:url('../img/section-logo-bg.png');background-position:center 90px;color:#fff;}
.logo .current_date {text-align:center;margin-top:105px;font-size:60px;}
.logo .online-store-from-scratch {text-align:center;margin:0 auto;margin-top:10px;font-size:18px;width:550px;line-height:30px;}
.logo .online-store-from-scratch .key {font-size:30px;display:block;margin-bottom:20px;}
.logo .hr {margin:20px auto;width:550px;background-color:rgba(255,255,255,0.1);}
.logo .earn-wrapper {text-align:center;}
.logo .earn {display:inline-block;font-size:15px;text-align:center;margin:10px auto 0;}
.logo .statistics {margin:35px auto 20px;font-size:19px;line-height:29px;text-align:center;}
.logo .statistics .row-1 {font-size:32.4px;line-height:41px;}
.logo .statistics .row-2 {font-size:19.45px;}
.logo .statistics .row-3 {font-size:16.7px;}
.logo .statistics .row-4 {font-size:21px;}
.logo .scroll-down-btn { position: absolute; top: 100%; left: 50%; margin: 30px 0 0 -35px; text-align: center; line-height: 13px; font-weight: 600; font-size: 12px; cursor: pointer;
    padding-bottom: 43px; z-index: 10;}

.video_block {color:#fff;background:#00a2fa;
 background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTJmYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjQxJSIgc3RvcC1jb2xvcj0iIzAwOGZlYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
 background:-moz-linear-gradient(top,#00a2fa 0%,#008fea 41%);
 background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#00a2fa),color-stop(41%,#008fea));
 background:-webkit-linear-gradient(top,#00a2fa 0%,#008fea 41%);
 background:-o-linear-gradient(top,#00a2fa 0%,#008fea 41%);
 background:-ms-linear-gradient(top,#00a2fa 0%,#008fea 41%);
 background:linear-gradient(to bottom,#00a2fa 0%,#008fea 41%);
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2fa',endColorstr='#008fea',GradientType=0 );
}
.video_block .text {line-height:30px;font-size:18px;}
.video_block .video-wrap {margin-top:35px;height:480px;}
.video_block .video {cursor:pointer;width:853px;}
.video_block .social {margin-top:15px;}
.video_block .slide_link {text-align:center;margin-top:30px;text-transform:uppercase;letter-spacing:1px;}

#slide_more {background-color:#fff;line-height:30px;font-size:18px;margin-top:-110px;margin-bottom:110px;}
#slide_more h1 {color:#6f72b3;}


.get-quest {background-color:#6079b2;padding-top:40px;color:#FFF;line-height:30px;}

.get-quest-form {margin-top:36px;position:relative;margin-bottom:10px;}
.get-quest-form .girl {position:absolute;top:10px;left:5px;z-index:10;}
.get-quest-form .girl-message {position:relative;margin-left:200px;background-color:#fff;color:#333;
 font-size:18px;line-height:30px;padding:25px 30px 27px;border-radius:5px;}
.get-quest-form .girl-message .hidden {display:none;}
.get-quest-form .girl-message .hidden {display:none;}
.get-quest-form .form {background-color:#346b98;border-radius:5px;margin-top:-10px;margin-left:200px;color:#fff;font-size:14px;}
.get-quest-form .form .select {line-height:32px;padding:20px 0 30px 45px;}
.get-quest-form .form .select p {position:relative;z-index:20;font-size:16px;line-height:20px;margin:10px 0;}
.form .select label {	display:block;	position:relative;	padding:0 10px 0 38px;}
.form .select label .jq-radio {	position:absolute;	top:2px;	left:0;}
.get-quest-form .form button {font-size:16px;font-weight:bold;margin:10px 0 0 37px;padding:0 17px;height:40px;line-height:40px;}
.get-quest-form .start-btn {display:none;position:absolute;top:165px;left:240px;padding:0 17px;height:40px;line-height:40px;z-index:20;}

.select-form-part {background-color:#f064a2;background-image:url('../img/section_select_bg.png');background-position:50% 100%;padding:0px 0 110px 0;color:#333;min-height:1199px;height:auto;margin-bottom:0px;}
section#qwest-2 {background-color:#4785b1;padding-bottom:0px;margin-bottom:0px;padding-top:0px;}
.select-form-part .wrap {position:relative;}
.select-form-part .imsider-logo {float:right;margin-right:10px;}
.select-form-part .counter_header {font-size:16px;margin-top:30px;margin-bottom:15px;color:#fff;}
.select-form-part .counter_header strong {font-weight:600;}
.select-form-part .counter {font-size:30px;margin-bottom:30px;color:#fff;font-family:"Open Sans Condensed";font-weight:bold;}
.select-form-part .counter sup {line-height:0;font-size:60%;vertical-align:baseline;position:relative;top:-0.5em;font-weight:400;} 
.select-form-part .form-table-wrap {border-radius:5px 5px 0 0;overflow:hidden;margin-top:40px;}
.select-form-part .form-table {background-color:#fff;width:100%;}
.select-form-part .form-table td {width:33.3%;vertical-align:top;}
.select-form-part .form-table td:last-child {border-right:none;}
.select-form-part .form-table thead {background-color:#025297;color:#fff;}
.select-form-part .form-table thead td {padding:25px 25px 20px;border-right:1px solid #0f5b9c;}
.select-form-part .form-table thead .title {text-transform:uppercase;font-size:16px;font-weight:600;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease;
} 
.select-form-part .form-table thead .price {font-size:55px;margin-top:8px;-webkit-transition:all 0.2s ease;-moz-transition:all 0.2s ease;-o-transition:all 0.2s ease;transition:all 0.2s ease;}
.select-form-part .form-table thead td.selected .title,
.select-form-part .form-table thead td.selected .price {color:#f065a2;}
.select-form-part .form-table thead .stars {margin-top:4px;}
.select-form-part .form-table tbody {font-size:14px;line-height:20px;color:#333;}
.select-form-part .form-table tbody td {padding:10px 20px;border-right:1px solid #f2f2f2;}
.select-form-part .form-table tbody ul li {margin:20px 0;background-image:url('../img/li-marker.png');background-position:0 7px;padding-left:20px;}
.select-form-part .form-table tbody ul li.selected {font-weight:bold;}
.select-form-part .form-table tbody ul li .note {color:#da0303;}
.select-form-part .form-table tbody .info {font-size:12px;color:#7d7d7d;}
.select-form-part .form-table tbody .info p {padding-left:20px;margin:20px 0;}
.select-form-part .form-table tbody .info .marker {background-image:url('../img/note-marker.png');background-position:0 6px;}
.select-form-part .form-table tfoot {background-color:#f1f1f1;}
.select-form-part .form-table tfoot td {padding:25px 0 30px;border-right:1px solid #e5e5e5;}
.select-form-part .form-table tfoot .goal {width:230px;margin:0 auto;font-size:14px;color:#333;}
.select-form-part .form-table tfoot .goal .value {color:#00a4fc;font-family:'GTARussian',sans-serif;font-size:50px;text-transform:uppercase;margin-top:-5px;}
.select-form-part .form-table tfoot .btn {margin:8px auto 0;width:330px;display:block;text-transform:uppercase;}
.select-form-part .agreement {background-color:rgba(219,48,118,0.2);color:#fff;font-size:14px;padding:30px 0;border-radius:0 0 5px 5px;text-align:center;}
.select-form-part .agreement:after {content:"";display:table;clear:both;}
.select-form-part a {color:inherit;}
.leaderboard {padding:0;color:#fff;background:#4784b1;
 background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3ODRiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzc4NmViMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
 background:-moz-linear-gradient(top,#4784b1 0%,#786eb3 90%);
 background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4784b1),color-stop(90%,#786eb3));
 background:-webkit-linear-gradient(top,#4784b1 0%,#786eb3 90%);
 background:-o-linear-gradient(top,#4784b1 0%,#786eb3 90%);
 background:-ms-linear-gradient(top,#4784b1 0%,#786eb3 90%);
 background:linear-gradient(to bottom,#4784b1 0%,#786eb3 90%);
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4784b1',endColorstr='#786eb3',GradientType=0 );
}
.leaderboard h1 {font-size:39px;}
.leaderboard table {width:100%;font-size:14px;line-height:20px;margin-top:5px;}
.leaderboard table .purple_ .num div,
.leaderboard table .purple_ .hist .show-btn {background-color:#6933b3;}
.leaderboard table .purple_ .hist .show-btn:hover {background-color:#8b55d5;}
.leaderboard table .purple_ .hist .show-btn:active {background-color:#4f2588;}
.leaderboard table .blue_ .num div,
.leaderboard table .blue_ .hist .show-btn {background-color:#346b98;}
.leaderboard table .blue_ .hist .show-btn:hover {background-color:#5590c0;}
.leaderboard table .blue_ .hist .show-btn:active {background-color:#235279;}
.leaderboard table tr:nth-child(odd) {border-top:1px solid #668bba;}
.leaderboard table tr:first-child,
.leaderboard table tr.you {border-top:none;}
.leaderboard table td {padding:30px 0;vertical-align:middle;}
.leaderboard table .num {width:40px;}
.leaderboard table .num div {border-radius:50%;font-weight:bold;font-size:18px;width:30px;height:30px;line-height:30px;text-align:center;}
.leaderboard table .leader {width:200px;}
.leaderboard table .leader a {color:inherit;font-style:italic;}
.leaderboard table .hist {width:220px;}
.leaderboard table .money {font-size:40px;text-align:right;width:230px;}
.leaderboard table .money.small {font-size:30px;}
.leaderboard table .hist .show-btn {cursor:pointer;border-radius:3px;font-size:14px;font-weight:600;
 height:25px;line-height:25px;padding:12px 40px 12px 0;vertical-align:top;display:inline-block;
 -webkit-transition:background-color 0.2s ease;-moz-transition:background-color 0.2s ease;-o-transition:background-color 0.2s ease;transition:background-color 0.2s ease;
}
.leaderboard .hidden-details td {padding:0;}
.leaderboard .hidden-details .hidden-wrap {display:none;opacity:0;padding:0 0 25px;}
.leaderboard .video {cursor:pointer;} 
.leaderboard .video-and-text .video {float:left;width:490px;}
.leaderboard .video-and-text .text {float:left;width:450px;}
.leaderboard .video-and-text .text h2 {font-weight:lighter;font-size:45px;line-height:54px;}
.leaderboard .video-and-text .text .big {font-size:45px;line-height:54px;}
.leaderboard .video-and-text .text h3 {font-size:25px;line-height:34px;}
.leaderboard .video-and-text .text p {margin:25px 0;}
.leaderboard .video-and-text .text strong {font-weight:600;}
.leaderboard table tr.you {height:110px;}
.leaderboard table tr.you .num div {background-color:#db3076;}
.leaderboard table tr.you .name {font-size:40px;font-weight:600;}
.leaderboard table tr.you .money {color:#db3076;}
.get-book {padding:0;color:#fff;background:#235fa5;
 background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzNWZhNSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzUzYWRlMiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
 background:-moz-linear-gradient(top,#235fa5 0%,#53ade2 60%);
 background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#235fa5),color-stop(60%,#53ade2));
 background:-webkit-linear-gradient(top,#235fa5 0%,#53ade2 60%);
 background:-o-linear-gradient(top,#235fa5 0%,#53ade2 60%);
 background:-ms-linear-gradient(top,#235fa5 0%,#53ade2 60%);
 background:linear-gradient(to bottom,#235fa5 0%,#53ade2 60%);
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#235fa5',endColorstr='#53ade2',GradientType=0 );
}
.get-book .wrap {}
.get-book a {color:#87fbff;}
.get-book p {margin:20px 0;line-height:30px;font-size:18px;}
.get-book .quest .btn {margin-top:5px;}
.get-book .co-owners {margin-top:30px;}
.get-book .co-owners .col .text-wrap {padding:0 30px;}
.get-book .co-owners .col .name {text-transform:uppercase;font-size:20px;font-weight:700;margin-top:15px;line-height:24px;}
.get-book .co-owners .col .about p {font-size:16px;line-height:24px;margin:15px 0;}
.get-book .logos .logo {position:absolute;}
.get-book .logos .megaindex {left:40px;top:55px;}
.get-book .logos .lifemarketing {left:270px;top:85px;}
.get-book .logos .et2011 {left:550px;top:90px;}
.get-book .logos .et2013 {left:765px;top:115px;}
.get-book .logos .rif {left:40px;top:155px;}
.get-book .logos .eretailforum {left:270px;top:180px;}
.get-book .logos .otk {left:500px;top:205px;}
.get-book .logos .russia24 {left:730px;top:230px;}
.get-book .quest {position:absolute;bottom:0;height:650px;width:940px;}
.get-book .quest .girl-2 {position:absolute;top:92px;z-index:10;}
.get-book .quest .girl-message {position:absolute;top:80px;left:205px;right:0;background-color:#fff;color:#333;font-size:18px;line-height:30px;padding:25px 30px 27px;border-radius:5px;font-size:18px;}
.get-book .quest .girl-message .hidden {display:none;}
.get-book .quest .form {background-color:#346b98;border-radius:5px;position:absolute;top:104px;left:0;right:0;color:#fff;font-size:14px;}
.get-book .quest .form .select {	line-height:32px;padding:20px 0 30px 45px;}
.get-book .quest .form .select p {	position:relative;z-index:20;font-size:16px;line-height:20px;margin:10px 0;}
.get-book .quest .form .select label .jq-radio {	top:1px;}
.get-book .quest .form button {font-size:16px;font-weight:bold;margin:10px 0 0 37px;padding:0 17px;height:40px;line-height:40px;}
.get-book .quest .start-btn {display:none;position:absolute;top:165px;left:240px;padding:0 17px;height:40px;line-height:40px;z-index:20;}
.get-book .quest .girl-message .book-photo {float:left;height:265px;}
.get-book .quest .girl-message h3 {font-weight:bold;}
.get-book .quest .girl-message .btn {padding:0 20px;height:40px;line-height:40px;}
.why-it-works {background-color:#fff;padding:0px 0 0px 0;font-size:18px;line-height:30px;}
.why-it-works p {margin:30px 0;}
.why-it-works .reason {float:left;width:23%;padding-right:2%;font-size:16px;line-height:24px;margin-top:20px;}
.why-it-works .reason .icon {width:82px;height:82px;margin-bottom:25px;}
.why-it-works .reason strong {font-weight:bold;}
.why-it-works .reason p {margin:25px 0;}
.learning-process {padding:0px 0 0px 0;color:#fff;background:#7850b1;
 background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIzMCUiIHN0b3AtY29sb3I9IiM3ODUwYjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI1MCUiIHN0b3AtY29sb3I9IiM5NDYwYjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
 background:-moz-linear-gradient(top,#7850b1 30%,#9460b2 50%);
 background:-webkit-gradient(linear,left top,left bottom,color-stop(30%,#7850b1),color-stop(50%,#9460b2));
 background:-webkit-linear-gradient(top,#7850b1 30%,#9460b2 50%);
 background:-o-linear-gradient(top,#7850b1 30%,#9460b2 50%);
 background:-ms-linear-gradient(top,#7850b1 30%,#9460b2 50%);
 background:linear-gradient(to bottom,#7850b1 30%,#9460b2 50%);
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#7850b1',endColorstr='#9460b2',GradientType=0 );
}
.learning-process .texts {position:absolute;font-size:14px;line-height:20px;left:10px;top:70px;}
.learning-process .texts > div {position:absolute;}
.learning-process .step-1 {top:172px;left:0;width:250px;}
.learning-process .step-2 {top:172px;left:285px;width:250px;}
.learning-process .step-3 {top:172px;left:580px;width:300px;}
.learning-process .step-4 {top:452px;left:0;width:250px;}
.learning-process .step-5 {top:452px;left:285px;width:250px;}
.learning-process .step-6 {top:452px;left:580px;width:300px;}
.learning-process .step-7 {top:735px;left:50px;width:250px;}
.learning-process .step-8 {top:640px;left:270px;font-size:167px;font-weight:lighter;}

.policeman-test .get-quest-form .girl-message,
.policeman-test .get-quest-form .form {margin-left:300px;}
.policeman-test .get-quest-form .girl-message strong {font-weight:bold;}
.policeman-test .get-quest-form .medal {
 position:absolute;top:158px;left:300px;
}
.policeman-test .get-quest-form .medal li {display:none;padding-left:195px;height:175px;background-image:url('../img/medals/medal_1.png');}
.policeman-test .get-quest-form .medal li.medal-2 {background-image:url('../img/medals/medal_2.png');}
.policeman-test .get-quest-form .medal li.medal-3 {background-image:url('../img/medals/medal_3.png');}
.policeman-test .get-quest-form .medal strong {font-weight:bold;font-size:18px;}
.policeman-test .get-quest-form .medal .hr {background-color:#7684ba;height:1px;margin:30px 0 10px 0;}
.policeman-test .get-quest-form .medal h3 {font-size:40px;font-weight:lighter;line-height:48px;}

.seriousness {background:#7550b0;padding:0 0 0px 0;color:#fff;}
.seriousness h1 {position:relative;top:-18px;}
.seriousness p {line-height:30px;}
.seriousness strong {font-weight:bold;}
.seriousness .girl-3 {position:absolute;top:0px;z-index:10;}
.seriousness .message .btn {padding:0 15px;line-height:40px;height:40px;font-size:16px;margin-top:25px;}
.program-table {padding:0;color:#333;background-color:#f3f3f3;}
.program-table h2 {font-size:36px;font-weight:lighter;margin:25px 0 35px;}
.program-table .table {background-color:#fff;border-radius:6px;overflow:hidden;margin-top:20px;}
.program-table .table .header {color:#fff;text-transform:uppercase;font-size:24px;height:80px;line-height:80px;padding:0 30px;}
.program-table .table .header.blue-bg {background-color:#6f72b3;}
.program-table .table .header.azure-bg {background-color:#49c5e9;}
.program-table .table .header.pink-bg {background-color:#bd2778;}
.program-table .table .body {padding:25px 30px;position:relative;}
.program-table .table .medal {position:absolute;top:25px;right:30px;width:280px;}
.program-table .table .medal .hr {background-color:#e5e5e5;height:1px;margin:18px 0;}
.program-table .table .medal p {font-size:25px;font-weight:lighter;color:#242424;line-height:30px;}
.program-table .table strong {font-weight:bold;font-size:18px;color:#3f3f3f;}
.program-table .table ul {margin:15px 0 30px;}
.program-table .table ul li {font-size:14px;line-height:30px;color:#3f3f3f;padding-left:20px;background-image:url('../img/li-marker.png');background-position:0 11px;margin-left:7px;}
.program-table .footer {color:#fff;background-color:#db3076;border-radius:6px;padding:25px;font-size:18px;line-height:30px;margin-top:20px;}
.for-monsters {padding:0px 0 0px 0;color:#fff;background:#5081b1;
 background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzUwODFiMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjgzJSIgc3RvcC1jb2xvcj0iIzc1NzBiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
 background:-moz-linear-gradient(top,#5081b1 0%,#7570b3 83%);
 background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#5081b1),color-stop(83%,#7570b3));
 background:-webkit-linear-gradient(top,#5081b1 0%,#7570b3 83%);
 background:-o-linear-gradient(top,#5081b1 0%,#7570b3 83%);
 background:-ms-linear-gradient(top,#5081b1 0%,#7570b3 83%);
 background:linear-gradient(to bottom,#5081b1 0%,#7570b3 83%);
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#5081b1',endColorstr='#7570b3',GradientType=0 );
}
.for-monsters h2 {font-size:36px;font-weight:lighter;margin:20px 0;}
.for-monsters .items {margin-top:40px;}
.for-monsters .item {background-color:#fff;border-radius:5px;color:#333;background-position:center 30px;padding:22px 30px 30px;
 float:left;width:220px;margin-right:20px;line-height:24px;font-size:20px;height:250px;
 -webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.for-monsters .item:last-child {margin-right:0;}
.reviews {padding:0;color:#fff;background:#4785b1;
 background:url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzQ3ODViMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjkwJSIgc3RvcC1jb2xvcj0iIzc2NmZiMyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
 background:-moz-linear-gradient(top,#4785b1 0%,#766fb3 90%);
 background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#4785b1),color-stop(90%,#766fb3));
 background:-webkit-linear-gradient(top,#4785b1 0%,#766fb3 90%);
 background:-o-linear-gradient(top,#4785b1 0%,#766fb3 90%);
 background:-ms-linear-gradient(top,#4785b1 0%,#766fb3 90%);
 background:linear-gradient(to bottom,#4785b1 0%,#766fb3 90%);
 filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#4785b1',endColorstr='#766fb3',GradientType=0 );
}
.reviews h1 + p {margin:20px 0;line-height:26px;}
.reviews .cols {margin-top:50px;}
.reviews .cols:after {display:table;clear:both;content:"";width:100%;}
.reviews .col-item {font-size:14px;color:#fff;line-height:21px;padding:25px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.reviews .col-item:first-child {height:450px;}
.reviews .col-item:first-child a {color:#fff;}
.reviews .col-item:last-child {padding-top:35px;}
.reviews .col-item:last-child a {color:#009ff8;}
.reviews .col-item .name {font-style:italic;}
.reviews .col-item .video {margin:25px -25px 0;height:200px;cursor:pointer;}
.reviews .col-item p {font-weight:600;padding:20px 0;} 
.reviews .col-item p.last {margin:0 -25px;padding:20px 25px;background-color:#3655b6;border-radius:0 0 5px 5px;}
.reviews .col-item p.big {font-size:20px;margin-top:-3px;line-height:30px;}
.reviews .col-item p.big-2 {font-size:25px;line-height:34px;margin-top:-5px;}
.reviews .col-item .link-del {color:#4b4a4a;}
.image-desc {font-style:italic;font-size:13px;color:#707070;margin-top:5px;display:inline-block;}
.footer a {color:#3dabeb;}
.footer h3 {padding-bottom:15px;border-bottom:1px solid #333339;font-weight:bold;margin-bottom:15px;}
.footer .phone {float:left;width:33%;}
.footer .phone .number {font-size:30px;}
.footer .phone .time {margin-top:7px;font-size:12px;}
.footer .email {float:left;width:33%;}
.footer .email a {font-weight:lighter;font-size:25px;}
.footer .email .time {font-size:13px;margin-top:7px;}
.footer .rec {float:left;}
.footer .rec .show-rec {font-size:25px;text-decoration:none;border-bottom:1px dotted #3dabeb;display:inline-block;margin-bottom:-1px;color:#3dabeb;cursor:pointer;}
.footer .rec .show-rec:hover {border-bottom-color:transparent;}
.footer .rec ul {margin:10px 0 0 -15px;}
.overlay {position:fixed;background-color:rgba(0,0,0,0.9);top:0;left:0;right:0;bottom:0;z-index:500;display:none;}
.popup {position:absolute;top:0;left:0;right:0;bottom:0;z-index:1000;display:none;}
.popup .window {position:absolute;top:31115px;left:50%;margin-top:100px;opacity:0;color:#fff;background-color:#1c1c23;border-radius:10px;padding:30px 40px 40px 40px;-webkit-box-sizing:border-box;-moz-box-sizing:border-box; box-sizing:border-box;}
.popup .window .close {width:44px;height:44px;background-image:url('../img/close.png');cursor:pointer;position:absolute;top:40px;right:40px;}
.popup .window .texts > div {position:absolute;font-size:30px;line-height:40px;font-weight:lighter;}
.popup .window .texts .blue {font-weight:lighter;}
.popup .window .step-1 {top:280px;left:40px;}
.popup .window .step-2 {top:280px;left:520px;width:400px;}
.popup .window .step-3 {top:580px;left:90px;width:820px;}
.popup .window .step-3 ul {margin:25px 0;}
.popup .window .step-3 ul li {font-size:18px;font-weight:bold;line-height:22px;margin:17px 0;padding-left:20px;background-image:url('../img/li-marker-3.png');background-position:2px 9px;}
.popup .window .step-3 ul li .desc {font-style:italic;font-size:13px;font-weight:lighter;color:#bababa;}
.popup .window .step-3 .city {font-size:14px;font-weight:normal;line-height:21px;margin:0 0 20px 20px;}
.popup .window .step-3 .city table {width:100%;}
.popup .window .step-3 .city table tr td {width:28.5%;vertical-align:top;}
.popup .window .step-3 .city table tr td:last-child {width:14%;}
.popup .window .step-4 {top:1545px;left:90px;width:400px;font-size:25px !important;line-height:32px !important;}
.popup .window .step-5 {top:1545px;left:520px;font-size:25px !important;line-height:32px !important;}
.popup .window .bottom {position:absolute;bottom:40px;left:40px;right:40px;color:#fff;height:175px;}
.popup .window .bottom p {font-size:30px;font-weight:lighter;margin-bottom:28px;}
.popup .window .bottom .label {font-size:14px;color:#8c8ca0;margin-bottom:7px;}
.popup .window .bottom .mail {float:left;width:330px;}
.popup .window .bottom .mail a {color:#3dabeb;font-size:25px;}
.popup .window .bottom .phone {float:left;width:600px;}
.popup .window .bottom .phone .number {font-size:25px;font-weight:600;}
.popup .window .bottom .phone .number .free {color:#8d8da0;font-style:italic;font-weight:300;}
.popup .window .bottom .time {border-top:1px solid #28282e;margin-top:30px;padding-top:25px;}
.popup .window .bottom .time span {color:#be6dd5;}

@media (max-width:480px) {
    .btn, button {font-size: 30px; line-height: 80px; height: 80px;}
    .bg-top, .bg-bottom {margin-bottom: -1px;}
    .logo {padding-top:0;}
    .logo .current_date {margin-top:0px;}
    .logo .online-store-from-scratch {font-size:30px;line-height:40px;}
    .logo .online-store-from-scratch .key {font-size:40px;line-height:40px;}
    .logo .earn {font-size: 30px;}
    .logo .statistics {margin: 0px auto 20px; line-height: 40px;}
    .logo .statistics .row-1 { font-size: 50px; line-height: 70px; }
    .logo .statistics .row-2 { font-size: 30px; }
    .logo .statistics .row-3 { font-size: 26px; }
    .logo .statistics .row-4 { font-size: 33px; }
    .logo .scroll-down-btn { margin: 20px 0 0 -35px; width: 130px; line-height: 25px; font-size: 25px; background-position: 30px 45px; }

    .select-form-part .counter_header {font-size: 25px;  line-height: 30px; width: 780px;}
    .select-form-part .counter {font-size:50px;margin-bottom:30px;}
}
