.girl-3 {width: 260px; height: 490px;
    background-image: url(../img/total_sprite.png);
    background-position: -2423px -10px;
}
.imsider-logo { width: 157px; height: 30px;
    background-image: url(../img/total_sprite.png);
    background-position: -587px -10px;
}
.logo .bg-bottom { width: 100%; background: #008fea; height: 110px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -10px;
}
.video_block .bg-bottom { width: 100%; background: #F064A2; height: 499px; margin-top:-380px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -140px;
}
#slide_more .bg-top { width: 100%; background: #fff; height: 110px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -530px;
}
#slide_more .bg-bottom { width: 100%; background: #f062a1; height: 108px; margin-top:0px; margin-bottom: -110px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -5471px;
}
.get-quest .bg-bottom { width: 100%; background: #f062a1; height: 445px; margin-top:-300px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -5595px;
}
.leaderboard .bg-top { width: 100%; background: #4784b1; height: 110px; margin-top:-118px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -659px;
}
.leaderboard .bg-bottom { width: 100%; background: #235fa5; height: 470px; margin-top:-370px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -789px;
}
.leaderboard table {background-size: 105% 110px;
    background-image: url(../img/background_sprite.png);
    background-position: -72px -4243px;
}
.leaderboard table .hist .show-btn:before {
    background-image: url(../img/total_sprite.png);
    background-position: -84px -13px;
    content: "";
    display: inline-block;
    width:60px;
    height:25px;
}
.get-book .logos { height: 310px; position: relative; margin-top: -70px;
    background-image: url(../img/background_sprite.png);
    background-position: -10px -1283px;
}
.get-book .bg-bottom { width: 100%; background: #ffffff; height: 673px; margin-top:-573px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -1614px;
}
.policeman-test { background: #5c7bb2; padding: 0px 0 150px 0; color: #fff;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -6060px;
}
.policeman-test .bg-top { background: #5c7bb2; width: 100%; height: 200px; position: relative; top:-118px; margin-bottom:-200px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -659px;
}
.learning-process .bg-top { background: #ffffff; width: 100%; height: 280px; position: relative; margin-bottom:-170px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -2305px;
}
.learning-process .bg-bottom { background: #f064a2; width: 100%; height: 456px; margin-top: -350px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -2605px;
}
.learning-process .icons {height: 760px; width: 940px; margin: 30px 0 0 0;
    background-image: url(../img/total_sprite.png);
    background-position: -1143px -10px;
}
.seriousness .bg-top {width: 100%; height: 278px; position: relative; top:-110px; margin-bottom:-280px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -2305px;
}
.seriousness .bg-bottom { background:#f3f3f3; width: 100%; height: 476px; margin-top:-370px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -3081px;
}
.girl-message .arrow { width: 24px; height: 21px; position: absolute; left: -24px; top: 60px;
    background-image: url(../img/total_sprite.png);
    background-position: -150px -10px;
}
.for-monsters .bg-top {width: 100%; height: 108px; position: relative;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -3577px;
}
.for-monsters .bg-bottom { background: #4785B1; width: 100%; height: 445px; margin-top:-330px;
    background-image: url(../img/background_sprite.png);
    background-position: 50% -3705px;
}
.reviews .bg-bottom { background: #f064a2; width: 100%; height: 551px; margin-top:-440px;
    background-image: url(../img/background_sprite.png);
    background-position:  50% -4640px;
}
.footer { color: #fff; background-color: #1c1c23; padding: 0 0 35px 0; font-size: 14px; margin-top: -8px;}
.footer .bg-top { position: relative; top: -110px; margin-bottom:-110px; height:110px;
    background-image: url(../img/background_sprite.png);
    background-position:  50% -5341px;
}
.footer .rec ul li { line-height: 20px; font-size: 13px; padding-left: 15px;}
.why-it-works ._bg-bottom { background: #f064a2; width: 100%; height: 108px; margin-top: 10px;
    background-image: url(../img/background_sprite.png);
    background-position: -970px -5471px;
}
.why-it-works .reason .icon-4 {
    background-image: url(../img/total_sprite.png);
    background-position: -194px -10px;
}
.why-it-works .reason .icon-3 {
    background-image: url(../img/total_sprite.png);
    background-position: -297px -10px;
}
.why-it-works .reason .icon-2 {
    background-image: url(../img/total_sprite.png);
    background-position: -399px -10px;
}
.why-it-works .reason .icon-1 {
    background-image: url(../img/total_sprite.png);
    background-position: -491px -10px;
}
.reviews .col-item.bg-25 {
    background-image: url(../img/background_sprite.png);
    background-position: -10px -4170px;
}
.reviews .col-item.bg-26 {
    background-image: url(../img/total_sprite.png);
    background-position: -2702px -10px;
}
.reviews .col-item.bg-27 {
    background-image: url(../img/total_sprite.png);
    background-position: -823px -10px;
}
.reviews .col-item.bg-28 {
    background-image: url(../img/total_sprite.png);
    background-position: -3022px -10px;
}
.scroll-down-btn { width: 70px;
    background-image: url(../img/total_sprite.png);
    background-position: 0px 23px;
}
.select-form-part .form-table thead .stars li { height: 20px; width: 20px; display: block; float: left; margin-right: 10px;
    background-image: url(../img/total_sprite.png);
    background-position: -784px -10px;
}
.select-form-part .form-table thead .stars li.act { background-position: -764px -10px; }
.program-table .table .medal.medal-1:after {
    content: "";
    display: block;
    margin-top:10px;
    width: 142px;
    height: 142px;
    background-image: url(../img/total_sprite.png);
    background-position: -3341px -10px;
}
.program-table .table .medal.medal-2:after {
    content: "";
    display: block;
    margin-top:10px;
    width: 142px;
    height: 142px;
    background-image: url(../img/total_sprite.png);
    background-position: -3501px -10px;
}
.program-table .table .medal.medal-3:after {
    content: "";
    display: block;
    margin-top:10px;
    width: 142px;
    height: 142px;
    background-image: url(../img/total_sprite.png);
    background-position: -3661px -10px;
}
.for-monsters .item.auto:before {
    content: "";
    display: block;
    width: 100px;
    height: 110px;
    margin: 0 auto;
    margin-bottom:30px;
    background-image: url(../img/total_sprite.png);
    background-position: -3822px 0px;
}
.for-monsters .item.branding:before {
    content: "";
    display: block;
    width: 100px;
    height: 110px;
    margin: 0 auto;
    margin-bottom:30px;
    background-image: url(../img/total_sprite.png);
    background-position: -3942px 0px;
}
.for-monsters .item.marketing:before {
    content: "";
    display: block;
    width: 110px;
    height: 110px;
    margin: 0 auto;
    margin-bottom:30px;
    background-image: url(../img/total_sprite.png);
    background-position: -4062px 0px;
}
.for-monsters .item.copyrighting:before {
    content: "";
    display: block;
    width: 100px;
    height: 110px;
    margin: 0 auto;
    margin-bottom:30px;
    background-image: url(../img/total_sprite.png);
    background-position: -4190px 0px;
}
.popup .window {width: 1020px; height: 1980px; margin-left: -510px;
    background-image: url(../img/total_sprite.png);
    background-position: -4820px -10px;
}
.get-book .co-owners .col {
    background-image: url(../img/total_sprite.png);
    background-position: -2103px 242px;
}
.get-book .co-owners .col-1 { height: 830px; background-position: -2103px 242px;}
.get-book .co-owners .col-2 { height: 860px; background-position: -2103px 272px;}
.get-book .co-owners .col-3 { height: 890px; background-position: -2103px 302px;}
